@import "tailwindcss";
@plugin "daisyui";

/* app/globals.css */
body {
	background-color: oklch(var(--b2));
}

@keyframes app-progress {
	0% {
		transform: translateX(-100%);
	}
	50% {
		transform: translateX(60%);
	}
	100% {
		transform: translateX(200%);
	}
}
